{% extends 'registration/base.html' %}
{% load static %}

{% block content %}
  <h2>User Settings</h2>


  <div class="form-container">
    <div class="form" style="min-height: fit-content !important;padding: 10px 0px !important;">
        <div id="profile-settings">
            <h3 id="profile-settings-header">Profile Settings</h3>
            <button id="edit-profile-button">Edit Profile</button>
        
            <form id="profile-settings-form" method="post" enctype="multipart/form-data">
              <div class="form-control">
                <div class="profile-form-image" style="text-align: center !important; width: 100%;">
                  {% if user.userprofile.image %}
                    <img style="margin: auto !important; height: 100px; width: 100px; border-radius: 50px;" src="{{ user.userprofile.image.url }}" alt="{{ user.username }}">
                  {% else %}
                      <img style="margin: auto !important; height: 100px; width: 100px; border-radius: 50px;" src="{% static 'main/css/img/default/default.png' %}" alt="{{ user.username }}">
                  {% endif %}
                </div>
              </div>
              {% csrf_token %}
              <div class="form-control">
                <label for="{{ user_form.image.id_for_label }}">Profile Image</label>
                <br><br>
                {{ user_form.image }}
              </div>
              <div class="form-control">
                <label for="{{ user_form.bio.id_for_label }}">Bio</label>
                <br><br>
                {{ user_form.bio }}
              </div>
              <button type="submit">Save Changes</button>
            </form>
          </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Hide the Clear checkbox and label
      var clearCheckbox = document.querySelector('input[name="image-clear"]');
      var clearLabel = document.querySelector('label[for="image-clear_id"]');
      var clearAnchor = document.querySelector('a');

      if (clearCheckbox && clearLabel) {
        clearCheckbox.style.display = 'none';
        clearLabel.style.display = 'none';
        clearAnchor.style.display = 'none';
      }
    });
  </script>

{% endblock %}
